.searchbar {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.form {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
  max-width: 48rem;
}

.btn {
  height: 50px;
  background: white;
  width: max-content;
  color: #747a88;
  border: solid 1px #d5d5d5;
  cursor: pointer;
  padding: 0;
  border-radius: 1000px;
  margin-left: 10px;
  border-radius: 8px;
}

.icon {
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: 1.4rem;
}

.searchbar__item {
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.input {
  width: 100%;
  height: 50px;
  padding-left: 3.2rem;
  background: white;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  outline: none;
  font-size: 14px;
  line-height: 20px;
  border: solid 1px #d5d5d5;
  border-left: none;
}

.btn:hover {
  background: #747a88;
  color: white;
}

@media (max-width: 640px) {
  .form {
    flex-direction: column;
    gap: 0.5rem;
  }

  .searchbar {
    width: 100%;
  }

  .searchbar__item {
    width: 100%;
  }

  .input {
    border-radius: 8px;
    border: solid 1px #d5d5d5;
  }

  .btn {
    margin-left: 0;
  }
}
